<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="https://raw.githubusercontent.com/dankogai/js-base64/master/base64.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/canvas2image/0.1/canvas2image.min.js"></script>
<script src="{{site.baseurl}}/public/js/html2canvas.js"></script> -->

<style type="text/css">
	.caption {
		font-size: 10px;
		color: grey;
	}

	.x .domain {
		display: none;
	}

	.tooltip {
		background: #fff;
		box-shadow: 0 0 5px #999;
		color: #333;
		display: none;
		font: 14px sans-serif;
		left: 130px;
		padding: 10px;
		position: absolute;
		text-align: left;
		top: 95px;
		z-index: 10;
	}

	.source {
		color: #999;
	}

	@media screen and (max-width: 640px){
		.tooltip {
			font-size: 10px;
		}
	}
</style>