<style type="text/css">
	.arc path {
		stroke: #fff;
	}

	#tooltip-location-chart {
		background: #fff;
		box-shadow: 0 0 5px #999;
		color: #333;
		display: none;
		font: 14px sans-serif;
		left: 130px;
		padding: 10px;
		position: absolute;
		text-align: left;
		top: 95px;
		z-index: 10;
	}

	.source {
		font-size: 12px;
	}

/*	@media screen and (max-width: 374px){
		.arc text {
			display: none;
		}
	}*/
	@media screen and (max-width: 640px){
		#tooltip-location-chart, text{
			font-weight: unset;
			font-size: 11px;
		}
	}
</style>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script> -->

<div id="location-chart-container" class="chart">
	<h3>Locations of jobs posted to DataJournalismJobs.com</h3>
	<p class="source">Source: <a href="http://datajournalismjobs.com">DataJournalismJobs.com</a></p>
</div>

<script type="text/javascript">
	var g, gPath, gText;
	var donutContainer=	"location-chart-container";
	var color=	 		d3.scale.category20();

	var margin=	{
		top: 50,
		right: 30,
		bottom: 100,
		left: 70
	};
	var marginTop=		margin.top;
	var marginLeft=		margin.left;
	var marginBottom=	margin.bottom;
	var marginRight=	margin.right;

	var width=	document.getElementById(donutContainer).clientWidth;
	var widthMinusMargins=	width - marginRight - marginLeft;
	var height=				250;

	var radius=				Math.min(width,height)/2;
	var donutWidth=			50;
	var arc=	d3.svg.arc()
				.innerRadius(radius-donutWidth)
				.outerRadius(radius);

	var pie=	d3.layout.pie()
				.value(function(d){
					return d.Count;
				})
				.sort(null);

	var svg=	d3.select('#'+donutContainer)
				.append("svg");

	svg.attr("width",width)
		.attr("height",height)
		
	var svgG=	svg.append('g')
					.attr(
						"transform",
						"translate("+(width/2)+','+(height/2)+')'
					);

	var tooltipDonutId=	'tooltip-location-chart';
	var tooltipDonut=	d3.select('#'+donutContainer)
		.append('div')
		.attr('id',tooltipDonutId);

	d3.csv("{{site.baseurl}}/public/datasets/DataJournalismJobs/DataJournalismJobs_locationsFormatted2.csv", function(error,data){
		if(error) throw error;

		data.forEach(function(d){
			d.Count=	+d.Count;
		});

		// Define 'g' element, which will be donut pieces
		g=		svgG.selectAll(".arc")
					.data(pie(data))
					.enter()
					.append('g')
					.attr("class","arc");

		// Attach to page the 'g' elements, which form the donut pieces
		gPath=	g.append("path")
		.attr('d',arc)
		.attr("fill",function(d,i){
			return color(i);
		});

		gText=	g.append("text")
		.attr("transform",function(d){
			var x=	arc.centroid(d)[0];
			var y=	arc.centroid(d)[1];
			if(width < 375){
				return "translate("+(x-10)+','+y+')';
			}
			return "translate("+arc.centroid(d)+')';
		})
		.attr("dy",".35em")
		.attr("class","donut-text")
		.text(function(d){
			if(Math.round(+d.data.PercentFormatted >= 5)){
				return d.data.CityFormatted;
			}
		});

		// Mouseover tooltip
		d3.selectAll(".arc")
		.data(data)
		.on('mouseover',function(d){
			d3.select('#'+tooltipDonutId).html(
				"<b>"+d.CityFormatted+"</b><br>"+
				d.Count+" jobs<br>"+
				Math.round(+d.PercentFormatted)+" percent of total"
			);

			tooltipDonut.style('display','block');
		})
		.on('mouseout',function(d){
			tooltipDonut.style('display','none');
		})
		.on('mousemove',function(){
			tooltipDonut.style('top',(d3.event.pageY+10)+'px')
				.style('left',(d3.event.pageX+10)+'px');
		});
	});
</script>