<script type="text/javascript">
	var charts=		document.getElementsByClassName("chart");
	for(var i=	0;	i < charts.length;	i++){
		var aTag=		document.createElement('a');
		aTag.href=		"http://datajournalismjobs.com";
		aTag.target=	"_blank";
		aTag.innerHTML=	"DataJournalismJobs.com";

		var pTag=		document.createElement('p');
		pTag.className=	"source";
		pTag.innerHTML=	"Source: ";
		pTag.appendChild(aTag);

		var hrTag=		document.createElement("hr");
		hrTag.className="chart-border";

		charts[i].appendChild(pTag);
		charts[i].appendChild(hrTag);
	}

	d3.select(window).on('resize',function(){
		var width = document.getElementById(skillsChartContainer).clientWidth - marginRight - marginLeft;
		var height=	500;
		var widthWithMargins = width+marginRight+marginLeft;

		chart.attr('width',widthWithMargins).attr('height',height);

		x=	d3.scale.linear()
			.domain([0,maxCount])
			.range([0,width]);
		x.range([0,width]);

		xAxis=	d3.svg.axis()
			.scale(x)
			.innerTickSize(-height+marginBottom)
			.orient("top");

		chart.select('.x.axis').call(xAxis)
		chart.select('.x .axis-label').attr('x',widthWithMargins/2)

		skill.selectAll("rect")
			.attr("height",function(d){
				return y.rangeBand();
			})
			.attr("width",function(d){
				return x(d.Count);
			})
			.style("fill",function(d){
				return "#E45C10";
			});

		// Resize donut chart
		var width=	document.getElementById(donutContainer).clientWidth;
		var height=	250;
		radius=	Math.min(width,height)/2;
		arc=	d3.svg.arc()
				.innerRadius(radius-donutWidth)
				.outerRadius(radius);

		svg.attr("width",width)
		.attr("height",height);

		svgG.attr(
			"transform",
			"translate("+(width/2)+','+(height/2)+')'
		);

		gPath.attr('d',arc);
		gText.attr("transform",function(d){
			var x=	arc.centroid(d)[0];
			var y=	arc.centroid(d)[1];
			if(width < 375){
				return "translate("+(x-10)+','+y+')';
			}
			return "translate("+arc.centroid(d)+')';
		})
		.attr("dy",".35em");
	});
</script>