<style type="text/css">
	#top-albums-chart-container svg {
		background-image: url("stripes.png");
	}

	.tooltip {
		background: #fff;
		box-shadow: 0 0 5px #999;
		color: #333;
		display: none;
		font: 14px sans-serif;
		left: 130px;
		padding: 10px;
		position: absolute;
		text-align: left;
		top: 95px;
		z-index: 10;
	}

	@media screen and (max-width: 640px){
		.tooltip {
			font-size: 10px;
		}
	}
</style>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://raw.githubusercontent.com/evanplaice/jquery-csv/master/src/jquery.csv.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js" charset="utf-8"></script>
<script type="https://raw.githubusercontent.com/interactivethings/d3-grid/master/d3-grid.js"></script>

<div id="top-albums-chart-container" class="chart-container">
</div>

<script type="text/javascript">
	var container=	"top-albums-chart-container";
	var mobileSized= window.innerWidth < 640;
	var chartWidth=	window.innerWidth;
	// var chartHeight=100000;
	var margin=	{
		top: 50,
		right: 30,
		bottom: 100,
		left: 0
	};
	var svg=	d3.select('#'+container).append("svg");
	svg.attr("width",chartWidth);//.attr("height",chartHeight)
	d3.csv("Billboard200Data.csv",function(error,data){
		if (error) throw error;

		// var columns=	mobileSized ? 3 : 4;
		var columns=	10;
		var imgWidth=	chartWidth / columns;
		var imgHeight=	imgWidth;
		var currentY=	0;
		var columnIdx=	0;
		var	border=		1;
		var borderColor="white";
		var week=	svg.selectAll(".week")
					.data(data)
					.enter()
					.append('g')
						.attr("class","week")
						.attr("id",function(d){
							return d["Date"];
						});

		week.append("image")
			.attr("width",imgWidth)
			.attr("height",imgHeight)
			.attr('x',function(d,i){
				return imgWidth * (i%columns);
			})
			.attr('y',function(d,i){
				if (columnIdx === columns){
					columnIdx=	0;
					currentY += imgHeight;
				}
				columnIdx += 1;
				return currentY;
			})
			.attr("xlink:href",function(d){
				return d["AlbumImageURL"];
			});

		svg.attr("height",currentY+imgHeight);
	});
</script>