<style type="text/css">
	.axis {
		font: 10px sans-serif;
	}

	.x line,
	.y .domain {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.x line {
		opacity: 0.2;
	}

	.x .domain {
		display: none;
	}

	.axis text {
		font: 13px sans-serif;
		font-weight: bold;
		fill: #000;
	}

	@media screen and (max-width: 768px){
		.chart-border,
		.chart,
		#genre-by-year-chart-container {
			width: 100%;
			margin-left: unset;
		}
	}
</style>


<div id="genre-by-year-chart-container" class="chart">
	<hr class="chart-border">
	<!-- <h3>Genres of the Billboard 200's top albums, 1945 to 2016</h3> -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js" charset="utf-8"></script>
<script type="text/javascript">
	var x, y, xAxis, yAxis, data;

	var genreByYearContainerID=	"genre-by-year-chart-container";
	var margin=	{
		top: 50,
		right: 30,
		bottom: 100,
		left: 0
	};
	var marginTop=		margin.top;
	var marginLeft=		margin.left;
	var marginBottom=	margin.bottom;
	var marginRight=	margin.right;

	var width=	document.getElementById(genreByYearContainerID).clientWidth - marginRight - marginLeft;

	var widthWithMargins=	width+marginRight+marginLeft;
	var height=				1000;

	var chart=		d3.select('#'+genreByYearContainerID)
					.append("svg");
	chart.attr('width',widthWithMargins);

	d3.csv("dummydata_genreCountByYear.csv", function(error, csvData){
		if (error) throw error;

		data=	csvData;
		console.log(data);

		chart.attr("height",height);

		var color=	d3.scale.category20();

		x=	d3.scale.linear()
			.rangeRound([width,0]);

		y=	d3.scale.ordinal()
			.rangeRoundBands([0,height]);

		xAxis=	d3.svg.axis()
				.scale(x);

		yAxis=	d3.svg.axis()
				.scale(y);

		color.domain(d3.keys(data[0])
			.filter(function(key){
				return key !== "Year";
			}));

		data.forEach(function(d){
			var y0=	0;
			d.genres=	color.domain().map(function(name){
				return {
					name: name,
					y0: y0,
					y1: y0 += +d[name] 
				};
			});

			d.genres.forEach(function(d){
				d.y0 /= y0;
				d.y1 /= y0;
			});
		});

		data.sort(function(a,b){
			return b.genres[0].y1 - a.genres[0].y1;
		});

		y.domain(data.map(function(d){
			return d.Year;
		}));

		chart.append('g')
			.attr("class","y axis")
			.attr("transform","translate(0,"+width+')')
			.call(yAxis);

		chart.append('g')
			.attr("class","x axis")
			.call(xAxis);

		var year=	chart.selectAll(".year")
			.data(data)
			.enter()
			.append('g')
			.attr("class","year")
			.attr("transform",function(d){
				return "translate("+x(d.Year)+",0)";
			});

		year.selectAll("rect")
			.data(function(d){
				return d.genres;
			})
			.enter()
			.append("rect")
			.attr("height", y.rangeBand())
			.attr('x',function(d){
				return x(d.y1);
			})
			.attr("width",function(d){
				return x(d.y0) - x(d.y1);
			})
			.style("fill", function(d){
				return color(d.name);
			});
	});
</script>