<style type="text/css">
	#top-albums-chart-container svg {
		background-image: url("{{site.baseurl}}/public/images/stripes.png");
	}

	.tooltip {
		background: #fff;
		box-shadow: 0 0 5px #999;
		color: #333;
		display: none;
		font: 14px sans-serif;
		left: 130px;
		padding: 10px;
		position: absolute;
		text-align: left;
		top: 95px;
		z-index: 10;
	}

	@media screen and (max-width: 640px){
		.tooltip {
			font-size: 10px;
		}
	}
</style>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://raw.githubusercontent.com/evanplaice/jquery-csv/master/src/jquery.csv.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js" charset="utf-8"></script>
<script type="https://raw.githubusercontent.com/interactivethings/d3-grid/master/d3-grid.js"></script>

<h3>Top albums on the Billboard 200, 1945 to May 2016</h3>
<div id="top-albums-chart-container" class="chart-container">

</div>

<script type="text/javascript">
	var container=	"top-albums-chart-container";
	var windowWidth=window.innerWidth;
	var margin=	{
		top: 50,
		right: 50,
		bottom: 100,
		left: 50
	};
	var chartWidth=	windowWidth - margin.left - margin.right;
	var svg=	d3.select('#'+container).append("svg");
	var tooltip=d3.select('#'+container)
		.append('div')
		.attr('class','tooltip');

	svg.attr("width",chartWidth);//.attr("height",chartHeight)
	d3.csv("{{site.baseurl}}/public/datasets/BillboardCharts/Billboard200Data_v2.csv",function(error,data){
		if (error) throw error;

		var columns=	windowWidth<=640 ? 4 : windowWidth<=1024 ? 7 : 10;
		var imgWidth=	chartWidth / columns;
		var imgHeight=	imgWidth;
		var currentY=	0;
		var columnIdx=	0;
		var	border=		1;
		var borderColor="white";
		var week=	svg.selectAll(".week")
					.data(data)
					.enter()
					.append('g')
						.attr("class","week")
						.attr("id",function(d){
							return d["Date"];
						});

		tooltip.append('div');
		week.append("image")
			.attr("width",imgWidth)
			.attr("height",imgHeight)
			.attr('x',function(d,i){
				return imgWidth * (i%columns);
			})
			.attr('y',function(d,i){
				if (columnIdx === columns){
					columnIdx=	0;
					currentY += imgHeight;
				}
				columnIdx += 1;
				return currentY;
			})
			.attr("xlink:href",function(d){
				return d["AlbumImageURL"];
			})
			.on('mouseover',function(d){
				d3.select('.tooltip').html(
					"<b>"+d["Date"]+"</b><br>"+
					"<b>Album:</b> "+d["Album"]+"<br>"+
					"<b>Artist:</b> "+d["Artist"]
				);

				tooltip.style('display','block');
			})
			.on('mouseout',function(d){
				tooltip.style('display','none');
			})
			.on('mousemove',function(){
				tooltip.style('top',(d3.event.pageY+10)+'px')
					.style('left',(d3.event.pageX+10)+'px');
			});

		svg.attr("height",currentY+imgHeight);
	});
</script>