<style type="text/css">
	#container {
		width: 100%;
		height: 100%;
		border: 1px solid #000;
		text-align: center;
		/*background-color: #ccc;*/
	}

	.states {
		fill: none;
		stroke: #fff;
		stroke-linejoin: round;
	}

	.q0-9 {
		fill: #fff7fb;
		stroke: #ccc;
	}

	.q1-9 {
		fill: #ece2f0;
	}

	.q2-9 {
		fill: #d0d1e6;
	}

	.q3-9 {
		fill: #a6bddb;
	}

	.q4-9 {
		fill: #67a9cf;
	}

	.q5-9 {
		fill: #3690c0;
	}

	.q6-9 {
		fill: #02818a;
	}

	.q7-9 {
		fill: #016c59;
	}

	.q8-9 {
		fill: #014636;
	}

	.legendSquare text {
		font: 16px sans-serif;
	}

	@media screen and (max-width: 360px){
		.legendSquare text {
			font-size: 11px sans-serif;
		}
	}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>

<div id="container">
	<h3>Percent of people who say they only speak English</h3>
	<svg class="map"></svg>
</div>

<script type="text/javascript">
	var margin = {
		top: 20,
		right: 10,
		bottom: 20,
		left: 10
	}
	var width = document.getElementById('container').clientWidth;
	var mapRatio = 0.5;
	var height = width*mapRatio+margin.top+margin.bottom;

	var domain = [49,100];
	var quantize = d3.scale.quantize()
		.domain(domain)
		.range(d3.range(9).map(function(i){
			return 'q'+i+'-9';
		}));

	var svg = d3.select('.map');
	svg.attr('width',width)
		.attr('height',height);

	var mapProjection = d3.geo.albersUsa()
		.scale(width)
		.translate([width/2,height/2]);

	var path = d3.geo.path()
		.projection(mapProjection);

	var zoom = d3.behavior.zoom()
		.translate(mapProjection.translate())
		.scale(mapProjection.scale())
		.scaleExtent([height,8*height])
		.on('zoom',	function(){
			mapProjection.translate(zoom.translate())
				.scale(zoom.scale());

			svg.selectAll('.counties path').attr('d',path);
			svg.selectAll('.states').attr('d',path);
		});



	var percentByID = d3.map();

	queue()
		.defer(d3.json, '{{site.baseurl}}/public/datasets/us.json')
		.defer(d3.csv,'{{site.baseurl}}/public/datasets/EnglishOnly.csv', function(d){
			percentByID.set(
				d.CountyID,
				{
					countyName: d.CountyName,
					pop5Over:  +d.Population5Over,
					pctEnglish: +d.PercentSpeakOnlyEnglish
				}
			);
		})
		.await(function(error, us){
			svg.append('g')
				.attr('class','counties')
				.call(zoom)
				.selectAll('path')
					.data(topojson.feature(us, us.objects.counties).features)
					.enter()
					.append('path')
						.attr('class',function(d){
							var dataObj = percentByID.get(d.id); 
							// console.log(dataObj);
							return dataObj===undefined ? null : quantize(dataObj.pctEnglish);
						})
						.attr('d',path);

			svg.append('path')
				.datum(topojson.mesh(us, us.objects.states, function(a,b){
					return a!==b;
				}))
				.attr('class','states')
				.attr('d',path);

			var quantizeRange = quantize.range();
			var legendRectWidth = 28;
			var legendRectHeight = 10;
			var offset = window.innerWidth <= 360 ? 0 : width/2;

			svg.selectAll('.legendSquare')
				.data(quantizeRange)
				.enter()
				.append('g')
					.attr('class','legendSquare')
					.attr('transform',function(d,i){
						var offset = window.innerWidth <= 360 ? 0 : (width/2) - (legendRectWidth*quantizeRange.length)/2;
						return 'translate('+((i*legendRectWidth)+offset)+',0)';
					})
					.append('rect')
						.attr('class',function(d){
							return d;
						})
						.attr('width',legendRectWidth)
						.attr('height',legendRectHeight)

			svg.select('.legendSquare')
				.append('text')
					.attr('y',legendRectHeight*3)
					.style('text-anchor','start')
					.text('<'+domain[0]+'%');

			var legendSquares = svg.selectAll('.legendSquare');
			var lastSquare = legendSquares[0].pop();
			d3.select(lastSquare)
				.append('text')
					.attr('y',legendRectHeight*3)
					.style('text-anchor','start')
					.text(domain[1]+'%');

		});

	// Window resize code
	d3.select(window).on('resize',function(){
		width = document.getElementById('container').clientWidth;
		height = width*mapRatio+margin.top+margin.bottom;
		mapProjection
			.scale(width)
			.translate([width/2,height/2]);

		svg.style('width',width)
			.style('height',height);

		svg.selectAll('.counties path').attr('d',path);
		svg.selectAll('.states').attr('d',path);
	});
</script>