<style type="text/css">
	#container {
		width: 100%;
	}

	.axis {
		font: 10px sans-serif;
	}

	.x line,
	.y .domain {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.x line {
		opacity: 0.2;
	}

	.x .domain,
	.y .domain {
		display: none;
	}

	.legend text,
	.axis text {
		font: 13px sans-serif;
		font-weight: bold;
		fill: #000;
	}

	@media screen and (max-width: 640px){
		.tooltip,
		.axis text {
			/*font-weight: unset;*/
			font-size: 11px;
		}

		.x > text,
		.legend text {
			font-size: 12px;
		}
	}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js" charset="utf-8"></script>

<div id="container">
	<svg class="chart"></svg>
	<p class="source">Sources here</p>
</div>


<script type="text/javascript">
	function numberWithCommas(x) {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}

	var margin = {
		top: 50,
		right: 10,
		bottom: 100,
		left: 50
	};
	var marginTop = margin.top;
	var marginLeft = margin.left;
	var marginBottom = margin.bottom;
	var marginRight = margin.right;
	var width = document.getElementById('container').clientWidth - marginRight - marginLeft;
	var widthWithMargins = width+marginRight+marginLeft;
	var height = 1000;

	var chart = d3.select('.chart');
	chart.attr('width',widthWithMargins);

	d3.csv(
		'YoungPersonMedianIncomeConsoles.csv',
		function(error,csvData){
			chart.attr('height',height);

			var maxConsolesBought = d3.max(csvData,function(d){
				return +d.NumberConsolesAfford;
			});

			var x = d3.scale
				.linear()
				.domain([0,maxConsolesBought])
				.range([0,width]);

			var xAxis = d3.svg.axis()
				.innerTickSize(-height+marginBottom)
				.orient('top')
				.scale(x)

			var xLabel = 'Number of consoles';

			chart.append('g')
				.attr('class','x axis')
				.call(xAxis)
				.append('text')
					.text(xLabel)
					.style('text-anchor','end')
					.attr('class','axis-label')
					.attr('x',widthWithMargins/2)
					.attr('y',-25);

			var consoles = csvData.map(function(d){
				return d.Console;
			});

			var y = d3.scale.ordinal()
				.domain(consoles)
				.rangeRoundBands([0,height-marginBottom],0.15);
				
			var yAxis = d3.svg.axis()
				.scale(y)
				.orient('left');

			chart.append('g')
				.attr('class','y axis')
				.attr('transform','translate('+marginLeft+','+marginTop+')')
				.call(yAxis);

			chart.selectAll('.x')
				.attr('transform','translate('+marginLeft+','+marginTop+')');

			chart.select('.y .domain')
				.attr('transform','translate(0,'+marginTop+')');

			chart.selectAll('.bar')
				.data(csvData)
				.enter()
				.append('rect')
					.attr('class','bar')
					.attr('x',function(d){
						return x(d.NumberConsolesAfford);
					})
					.attr('y',function(d){
						return y(d.Console);
					})
					.attr('width',function(d){
						return height - x(d.NumberConsolesAfford);
					})
					.attr('height',y.rangeBand());
		}
	);
</script>